body {
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(245, 245, 103);
}
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}
  
#video, #photo {
    width: 320px;
    height: 240px;
    border: 1px solid #080808;
    margin-bottom: 20px;
    border-radius: 10px;
}
  
button {
    padding: 10px 20px;
    background-color: #1b89ff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
  
#prediction {
    font-size: 18px;
    font-weight: bold;
}