
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banana Ripeness</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1 id="title">Banana🍌Ripemeter</h1>
  <div class="container">

    <div id="video-container">
      <video id="video" playinline autoplay></video>
      <img id="overlay" src="/static/fruit_banana_outline-512.webp"/>
    </div>

    <canvas id="photo"></canvas>
    <button id="capture">Capture</button>
    <p id="prediction"></p>
  </div>
  <script src="../static/app.js"></script>
</body>
</html>